@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Roboto:wght@300;500&display=swap');


:root{
    --cor-fundo: #212121;
    --cor-fundo-dois: #1a1a1a;

    --cor-texto: #eeeeee;
    --cor-link-hover: #1a1a1a;
    --cor-negrito: #177bb4;

    --cor-btn: #177ab48e;
    --cor-btn-hover: #4a94be8e;
    --cor-btn-click: #fff;
    
    --cor-sombra: #00000077;

    --fonte-nome:'Roboto', sans-serif;
    --fonte-texto:'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: var(--fonte-texto);
}

strong{
    color: var(--cor-negrito);
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.cabecalho__perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 5%;
    padding-top: 1em;
}

.cabecalho__links{
    display: flex;
    position: relative;
    left: 30%;
    bottom: 60px;
}

.links__redes{
    display: flex;
    align-items: center;
}

.link__linkedin, .link__github{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
    font-size: 15px;
    text-decoration: none;
    text-shadow: 3px 1px 2px var(--cor-sombra);
    color: var(--cor-texto);
}


.link__linkedin:hover, .link__github:hover{
    text-shadow: none;
    font-size: 14.9px;
    margin: 1.01em;
}

.divPerfil{
    display: flex;
    align-items: center;
}

.fotoPerfil{
    background-color: var(--cor-negrito);
    padding: 1.5px;
    border-radius: 5em;
    justify-content: center;
}

.fotoPerfil:not(:hover){
    height: 150px;
    width: 150px;
    transition: 0.1s;
}

.fotoPerfil:hover{
    padding: 0;
    height: 160px;
    width: 160px;
    transition: .1s;
}

.nome{
    font-size: 30px;
    font-family: var(--fonte-nome);
    margin: 3px 0 1em 0;
}

.corpo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.sobreMim__titulo{
    padding-bottom: 0.5em;
}

.sobreMim{
    background-color: var(--cor-fundo-dois);
    padding: 1em 1em;
    margin: 0 5em;
    box-shadow: 3px 3px 10px var(--cor-sombra);
}

.sobreMim:hover{
    box-shadow: none;
    background-color: var(--cor-fundo);
    transition: 1s;
}

.sobreMim:not(:hover){
    background-color: var(--cor-fundo-dois);
    padding: 1em 1em;
    margin: 0 5em;
    box-shadow: 3px 3px 10px var(--cor-sombra);
    transition: 1s;
}

.sobreMim__titulo:hover, .sobreMim__texto:hover{
    text-shadow: 3px 3px 5px black;
    transition: .5s;
}

.sobreMim__titulo:not(:hover), .sobreMim__texto:not(:hover){
    text-shadow: none;
    transition: 1s;
}

.tecnologias{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 1em  2em 1px;
    padding: 1em 1em 0 0;
}

.tecnologias__titulo{
    margin: 1em;
}

.imgtecnologias{
    display: flex;
    align-content: space-between;
}

.imagem{
    margin: 0.3em;
}

.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.rodape{
    background-color: var(--cor-fundo-dois);
}

.rodape__contate{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rodape__contate__botao{
    font-size: 20px;
    color: var(--cor-texto);
    margin: .3em;
    padding: .5em;
    border-radius: .3em;
    border: none;
    background-color: var(--cor-btn);
    box-shadow: 3px 3px 3px var(--cor-sombra);
}

.rodape__contate__botao:hover{
    background-color: var(--cor-btn-hover);
    cursor: pointer;
}

.rodape__contate__botao:active {
    background-color: var(--cor-btn-click);
    color: var(--cor-negrito);
    box-shadow: none;
    margin: .4em;
}

#fecharContateBtn{
    display: none;
}

.rodape__contate{
    display: none;
}

/* .rodape__esconde__botao{
    border: none;
    border-radius: 2em;
    font-size: 2em;
    padding: 2em;
    background-color: var(--cor-btn);
} */

.form__contato{
    display: flex;
    justify-content: space-around;
    width: 75vw;
}

.div__contato, .div__contatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contato{
    display: flex;
}

.contato__assunto, .contato__desc, .contato__email{
    padding: .8em;
    border: none;
    border-radius: .5em;
    font-size: 18px;
    margin: .3em;
}

.contato__botao{
    padding: .8em;
    border: none;
    border-radius: .5em;
    font-size: 18px;
    margin: .3em;
    width: 100px;
    cursor: pointer;
    transition: .5s;
}

.contato__botao:hover{
    box-shadow: 5px 5px 5px black;
    transition: .5s;
}

.contato__botao:active{
    box-shadow: none;
}